#hero {
    background-image: url(../images/abstract\ copy.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #999;
  }
  
  #hero .d-flex{
    height: 70vh;
  }